block vars
  include ../../config/config.pug
  - var key = "areas"
  - var page = pages[key]

html
  head
    include ../..//module/head
    link(rel="stylesheet", href="../../css/areas.css")
  body#page-top.fixed-nav.sticky-footer.bg-dark
    include ../../module/sidebar
    .content-wrapper
      .container-fluid
        ol.breadcrumb
          li.breadcrumb-item
            a(href='../areas') areas
          li.breadcrumb-item.active new          
        h2.top_title 地域追加

        // error
        div.alert.alert-danger(role="role")
          strong 更新エラー
          p 更新に失敗しました ${error}
        // error

        nav.navbar.navbar-default.card
          div.container-fluid
            div.navbar-header
              form#area_search.area_search(action="/kanri/areas" accept-charset="UTF-8" method="post")
                div.input-group
                  input(name="utf8", type="hidden", value="&#x2713;")
                  input(name="authenticity_token", type="hidden", value="xxxxxx")
                div.input-group
                  label.search_title 県名
                  div.btn-group.bootstrap-select
                    select.btn.dropdown-toggle(name="area[prefecture_id]")
                        option(value="1") 北海道
                        option(value="2") 青森県
                        option(value="3") 岩手県
                div.input-group
                  label.search_title 名前 
                  input.form-control(type="text" name="area[name]" placeholder="Name" style={width:"500px"})
                div.input-group
                  label.search_title 住所 
                  input.form-control(type="text" name="area[address]" placeholder="Address")
                div.form-inline
                  div.input-group
                    label.search_title 緯度 
                    input.form-control(type="text" name="area[latitude]" placeholder="Latitude")
                  div.input-group.lat
                    label.search_title 経度                    
                    input.form-control(type="text" name="area[longitude]" placeholder="Longitude")
                  div#confirm.lng(onclick="onClickMap()") 確認
                div.form-check(style={margin:"10px"})
                  input.form-check-input(type="checkbox" name="area[longitude]")
                  label.form-check-label 有効 
                div.actions
                  button.btn.btn-success(type="button" name="commit" data-toggle="modal" data-target="#confirmModal") 確認

                // modal
                div#confirmModal.modal.fade(role="dialog")
                  div.modal-dialog.modal-dialog-center(role="document")
                    div.modal-content
                      div.modal-header
                        h5 確認
                      div.modal-body
                        p この内容で更新しますか？
                      div.modal-footer
                        button.btn.btn-secondary(type="button" data-dismiss="modal") 閉じる
                        div.actions
                          input.btn.btn-success(type="submit" name="commit" data-disable-with="確定" value="確定") 

