block module-base
  div.modal-dialog.modal-dialog-center(role="document")
    div.modal-content
      div.modal-header
        block module-head
      div.modal-body
        block module-content
      div.modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") 閉じる
        div.actions
          input.btn.btn-success(type="submit" name="commit" data-disable-with="確定" value="確定") 

//- div#confirmModal.modal.fade(role="dialog")
//-   div.modal-dialog.modal-dialog-center(role="document")
//-     div.modal-content
//-       div.modal-header
//-         h5 確認
//-       div.modal-body
//-         p この内容で更新しますか？

//-       div.modal-footer
//-         button.btn.btn-secondary(type="button" data-dismiss="modal") 閉じる
//-         div.actions
//-           input.btn.btn-success(type="submit" name="commit" data-disable-with="確定" value="確定") 