nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='../home') Planme!管理画面
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='../areas/')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text 地域
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Charts')
        a.nav-link(href='../areas/distance')
          i.fa.fa-fw.fa-area-chart
          span.nav-link-text 地域距離
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
        a.nav-link(href='../sight/')
          i.fa.fa-fw.fa-table
          span.nav-link-text 観光カテゴリ
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(data-toggle='modal', data-target='#exampleModal')
          i.fa.fa-fw.fa-sign-out
            | Logout
      
// Logout Modal
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title ログアウトしますか?
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body ログアウトを実施します
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
        a.btn.btn-primary(href='login.html') Logout