nav#sidebar
    div.sidebar-header
        h3 Planme!<br/>管理画面
    ul.list-unstyled.components
        p.username ユーザー名
        p.title エリア情報
        li.active: a(href="#" target="_blank") 地域
        li: a(href="#" target="_blank") 地域距離
        p.title 観光情報
        li: a(href="#" target="_blank") 観光カテゴリ
        li: a(href="#" target="_blank") 観光ジャンル
        li: a(href="#" target="_blank") 観光スポット
        li: a(href="#" target="_blank") 観光スポット画像
        li: a(href="#" target="_blank") 観光営業日
        li: a(href="#" target="_blank") 観光月別訪問数
        p.title 運用
        li: a(href="#" target="_blank") オペレータ
    ul.list-unstyled.CTAs
        li: a.logout(href="#" target="_blank") ログアウト
