- var appName = 'Planme!'
- 
    var pages = {
         login : { title : `${appName} | ログイン画面`},
         home : { title : `${appName} | 管理画面`},
         areas : { title : `${appName} | 管理画面 地域`}
         }