block vars
  include ../../config/config.pug
  - var key = "home"
  - var page = pages[key]

html
  head
    include ../../module/head
  body#page-top.fixed-nav.sticky-footer.bg-dark
    include ../../module/sidebar
    .content-wrapper
      .container-fluid
      include ../../module/footer
  
